* {
	margin: 0;
	padding: 0;
}

body {
	width: 800px;
	margin: 0 auto;
	background: #fff;
	font-family: Lucida Grande, Helvetica Neue, Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}

a:link, a:visited {
	color: blue;
}

a:hover {
	color: red;
}

form {
	display: inline;
	position: relative;
}

form.block {
	display: block;
	width: 100%;
}

form.block span {
	display: inline-block;
}

form p {
	position: relative;
	margin-bottom: 11px;
}

form p:last-child {
	margin-bottom: 0;
}

form p input,
form p select,
form p span.wrap {
	display: block;
	position: absolute;
	top: 0;
	left: 150px;
	width: 300px;
}

form p input[type=submit] {
	position: static;
	width: 100px;
}

form p input[type=radio] {
	position: static;
}

form table.status {
	float: left;
	margin-left: 150px;
	width: 130px!important;
	margin-top: -33px;
}

form p .message {
	position: absolute;
	top: 0;
	left: 472px;
}

.multiple-license {
	height: 66px;
}

.multiple-license select {
	height: 66px;
}

h1 {
	font-size: 22px;
	line-height: 22px;
}

h2 {
	font-size: 20px;
	line-height: 20px;
}

small {
	font-size: 10px;
}

#header {
	margin: 22px 0;
}

#header a {
	text-decoration: none;
}

.header-line {
	background: #efefef;
	padding: 5px;
	margin-left: -5px;
	border-radius: 3px;
}

#footer {
	margin: 22px 0;
}

table {
	width: 100%;
}

table th {
	text-align: left;
}

#admin-table table td {
	width: 20%;
}

.dangerous-button {
	background: red;
	color: #fff;
	padding: 2px 7px;
	border: none;
	border-radius: 3px;
}
.dangerous-button:hover {
	color: #ccc;
}

.good-button {
	background: green;
	color: #fff;
	padding: 2px 7px;
	border: none;
	border-radius: 3px;
}
.good-button:hover {
	color: #ccc;
}